*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: lighter;
}
.center-box {
    background-color: #190080;
    height: 300px;
    width: 970px;
    margin: 20px 0px 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-item {
    background-color: #fae4b6;
    height: 100px;
    width: 100px;
}

.navbar{
    background-color: #6495ed;
    width: 970px;
    margin: 20px 0px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

h1{
    font-size: 14px;
    font-weight: 400;
}

img{
    width: 50px;
    height: auto;
    margin-left: 10px;
}

ul{
    margin-right: 70px;
}

li{
    display: inline-block;
    list-style-type: none;
    font-size: 11px;
    margin-left: 125px;
}

a{
    text-decoration: none;
}